<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DirLoc" value="D:\SDEV460\Projects\sdev460\LogFiles\"/>
    <!--<add key="DirLoc" value="E:\SDEV460\Projects\sdev460\LogFiles\"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>